/* Estilos existentes */
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Estilos para los mensajes de error */
.error-message {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
    display: block; /* Por defecto ocupan su lugar */
}

.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
    height: auto;
}